/* 
    Document   : style
    Created on : 13.12.2012, 16:53:52
    Author     : Thomas Struller-Baumann <thomas at struller-baumann.de>
*/

path.link {
   fill: none;
   stroke: #666;
   stroke-width: 1.5px;
}

marker#inject {
   fill: #999;
}

marker#event {
   fill: blue;
}

marker#produces {
   fill: #EB9100;
}

marker#observes {
   fill: blue;
}

marker#instance {
   fill: #0a0;
}

marker#ejb {
   fill: #999;
}

path.link.inject {
   stroke: #555;
}

path.link.event { 
   stroke: blue;
   stroke-dasharray: 0,1 1;
}

path.link.observes { 
   stroke: blue;
   stroke-dasharray: 0,4 2;
}

path.link.produces { 
   stroke: #EB9100;
   stroke-dasharray: 0,6 6;
}

path.link.instance { 
   stroke: #0a0;
   stroke-dasharray: 2,4 1;
}

path.link.ejb { 
   stroke: red;
   stroke-dasharray: 0,8 8;
}

div#pop-up {
   font-family: Arial, sans-serif;
   display: none;
   position: absolute;
   color: white;
   font-size: 12px;
   text-shadow: 0.1em 0.1em 0.05em #333;
   background: rgba(0,0,0,0.4);
   padding: 5px 10px 5px 10px;
   border-radius: 8px 8px;
   top: 100px;
   left: 100px;
   box-shadow: 6px 6px 6px #666;
}
div#pop-up-title {
   font-size: 16px;
   width:100px;
   margin-bottom: 4px;
   font-weight: bolder;
}
div#pop-up-content {
   font-size: 14px;
}

div#pop-description {
   width: 400px;
   font-size: 12px;
	background: rgba(0,0,0,0.3);
}

div#pop-sourcecode-open:hover, div#pop-sourcecode-close:hover, div#pop-description-close:hover, div#pop-description-close:hover {
   text-decoration:none;
   color:#FFF;
   text-shadow: 0.18em 0.18em 0.18em #999;
   transition: color, text-shadow 0.3s;
   cursor: default;
}

textarea#pop-sourcecode {
   width: 500px;
   height: 120px;
   font-family:"Courier New";
   font-size:11px;
   background-color: rgba(255,255,255,0.8);
}

.table {
   display:table;
}
.table div {
   display:table-row;
}
.table div div {
   display:table-cell;
   width:50%;
}

text {
   font: 12px sans-serif;
   pointer-events: none;
}

svg {
   border-right-style: solid;
   border-left-style: solid;
   border-bottom-style: solid;
   border-top-style: solid;
   border-right-width: 2px;
   border-left-width: 2px;
   border-bottom-width: 2px;
   border-top-width: 2px;
   border-right-color: #ccc;
   border-left-color: #ccc;
   border-bottom-color: #ccc;
   border-top-color: #ccc;
}
.node {
   cursor: pointer;
}

/* for resize */
html,
body {
   margin: 0;
}

body {
   font: 12px "Arial";
}

h1 {
   font-size: 22px;
   text-shadow: 0.07em 0.07em 0.07em #999;
   padding: 0px 0px 0px 5px;
}

a {
   font-size: 16px;
   font-weight:bold;
   color:#333;
   text-shadow: 0.07em 0.07em 0.07em #999;
   padding: 0px 0px 0px 25px;
   text-decoration:none;
}
a:hover {
   text-decoration:none;
   color:#555;
   padding: 0px 0px 0px 24px;
   text-shadow: 0.18em 0.18em 0.18em #999;
   transition: color, text-shadow 0.3s;
}

.created {
   font-size: 10px;
   text-shadow: 0.05em 0.05em 0.05em #999;
   padding: 0px 0px 0px 5px;
}